.toggle-slot-demo {
  height: 11rem;
  padding: 0.5rem;
  overflow: hidden;
}

.toggle-slot-demo button {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #00000033;
  color: #fff;
  border: 1px skyblue solid;
  cursor: pointer;
  border-radius: 0.5rem;
}
.toggle-slot-demo button:hover {
  background: #ffffff11;
}
.toggle-slot-demo button:active {
  background: #ffffff33;
}
