.synced-demo input[type="text"] {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #ffffff11;

  color: #fff;
  border: 1px skyblue solid;
  border-radius: 0.5rem;
}
.synced-demo input[type="text"]:focus {
  background: #00000033;
}

.synced-demo .data {
  font-weight: bold;
  color: #33ffff;
}

.synced-demo select {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #00000033;
  color: #fff;
  border: 1px skyblue solid;
}
