body {
  background: #555;
}
.fifteen-puzzle {
  display: block;
  padding: 40px;
  background-color: #242424;
  width: 240px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.board {
    width: 240px;
    height: 240px;
    background-color: #777;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  .square, .blank  {
    width: 60px;
    height: 60px;
  }
  
  .blank {visibility: hidden; }
  
  .movable {cursor: pointer}
  
  .fifteen-puzzle button {
    display:block;
    width: 60px;
    height: 60px;  
    font-size: 42px;
    line-height: 58px;
    text-shadow: 0 -1px 1px #000;
    color: #fff;
    border-radius: 50px;
    border: none;
    position: relative;
    background-color: #ababab;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
  .fifteen-puzzle button:active {
    top: 1px;
    background-color: #959595;
    
    }