---
import Counter from '../components/counter.jsx'
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Zach's Tech work portfolio & blog">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#000000" />
    <title>Demo</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <Counter client:load startingCount={5} />
  </body>
</html>