.container {
    font-family: sans-serif;
    color: #666;
    background-color: #ccc;
    border-bottom: 1px black solid;
    width: 100%;
    display: grid;
    grid-template-columns: 20px 340px 10px auto 20px;
    grid-template-rows: 20px 350px 60px 20px;
}

.filter {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.stories {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
}

.story {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    position: relative;
}

.filter .filter-word {
    font-weight: bold;
    text-transform: uppercase;
}
.filter input[type='text'] {
    width: 60px;
}
.filter button {
    font-size: 24px;
    border-radius: 4px;
    background: #ddd;
    border: 1px gray solid;
    box-shadow: 0px 0px 4px #888;
}
.filter button:hover {
    background: lemonchiffon;
}
.filter button:active {
    color: #666;
    box-shadow: none;
}

.stories {
    height: 100%;
}

.stories ul {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style-type: none;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px #333;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.stories li {
    border: solid 1px #ccc;
    border-radius: 6px;
    border-left-width: 7px;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 10px;
}

.stories li.reading {
    background-color: lemonchiffon;
    border-left-color: orange;
}

.stories li.unread {
    border-left-color: cornflowerblue;
}

.stories li:hover {
    background-color: lemonchiffon;
}
.stories p.title {
    margin: 10px 10px 0px 10px;
}
.stories em {
    font-weight: bold;
    font-style: normal;
}
.stories p.author {
    margin: 0px 10px 10px 20px;
    font-style: italic;
    font-family: serif;
}
.stories .loadscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.story {
    background: #fff;
    padding: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 5px #444;
}

.story h1 {
    background-color: limegreen;
    color: #fff;
    margin: -40px -40px 40px -40px;
    padding: 50px 50px 20px 50px;
}

.story p {
    text-align: justify;
    font-family: serif;
    line-height: 1.4em;
}

.story p.signature {
    text-align: right;
    font-style: italic;
    font-size: 1.1em;
}
