---
import './hero.css'
import '@fontsource/marck-script'
import scrollTimelineHref from './scroll-timeline.js?url'
import portrait from './portrait.jpeg'
import {Image} from 'astro:assets'
const {bodyBgClass, large=false} = Astro.props
---
<a href="/" id="hero__wrapper" class:list={[{'hero--large': large}]}>
  <div id="hero__container" class={bodyBgClass}>
    <Image id="hero__portrait" alt="Portrait picture" width={400} height={400} src={portrait}/>
    <div id="hero__name">Zacharias Enochsson</div>
    <div id="hero__title">Web Developer</div>
  </div>
</a>
{large && <script src={scrollTimelineHref}></script>}
<style is:inline>

#hero__wrapper.hero--large {
  view-timeline: --hero-timeline block;
}

.hero--large #hero__container {
  animation: hero-container-anim linear both;
  animation-timeline: --hero-timeline;
  animation-range: exit 0% exit 50%;
}
@keyframes hero-container-anim {
  to {
    border-color: #ff44004d;
  }
}

.hero--large #hero__portrait {
  animation: hero-portrait-anim linear both;
  animation-timeline: --hero-timeline;
  animation-range: exit 0% exit 50%;
}
@keyframes hero-portrait-anim {
  to {
    width: 80px;
    height: 80px;
    top: 13px;
    left: 16px;
  }
}

.hero--large #hero__name {
  animation: hero-name-anim linear both;
  animation-timeline: --hero-timeline;
  animation-range: exit 0% exit 50%;
}
@keyframes hero-name-anim {
  to {
    font-size: 19px;
    top: 18px;
    left: 112px;
  }
}

.hero--large #hero__title {
  animation: hero-title-anim linear both;
  animation-timeline: --hero-timeline;
  animation-range: exit 0% exit 50%;
}
@keyframes hero-title-anim {
  to {
    font-size: 21px;
    top: 48px;
    left: 112px;
  }
}
</style>