---
import '@fontsource/titillium-web/200.css'
import '@fontsource/titillium-web/400.css'
import Hero from '../components/hero.astro'
const {largeHero} = Astro.props
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Zach's Tech work portfolio & blog">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#000000" />
    <title>Zach's web dev portfolio</title>
  </head>
  <body class="body-bg">
    <header>
     <Hero large={largeHero} bodyBgClass="body-bg"/>
    </header>
    
    <slot />

  </body>
</html>
<style is:global>
  * {padding:0; margin: 0; box-sizing: border-box;}

  body {
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    
  }
  
  h2 {
    margin: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: ;
  }
  
  article {
    padding: 1rem;
    background-color: #44444433;
    margin: 0.2rem 0; 
  }

  p {
    margin: 1rem 0;
  }

  pre {
    line-height: 20px;
    font-size: 14px;
    padding: 1rem;
    /* border: 1px #4E2514 solid; */
  }

  a {
    color: #fff;
    
  }

  .body-bg {
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-color:#111; 
    background-image:  
      repeating-linear-gradient(110deg, #00000077, #00000077 2px, transparent 2px, transparent 6px),
      radial-gradient(50% 50% at 20% 80%, #411705, transparent),
      radial-gradient(50% 50% at 80% 30%, #411705, transparent);
  }
  
  .icon {
    position: relative; 
    top: -0.3rem;
    float:left; 
    margin-right: 0.5rem;
    height: 30px;
    width: 30px;
  }
    
</style>
